.tabledata-container {
    h3.title{
        font-size: 18px;
        font-weight: 600;
        color: $main-color;
        i{
            margin-left: 10px;
            font-size: 18px;
        }
    }
}

#tablecost{
    thead{
        background: #f5f6f8;
        th{
            font-weight: 400;
            font-size: 13px;
            padding: 0.5rem 0.3rem;
            border-bottom: none!important;
        }
    }
    tbody{
        td{
            padding: 0.5rem 0.3rem;
            &.text{
                padding: 1rem;
            }
        }
    }
    input, select{
        background: #FBFBFB;
        border-color: #ECECEC;
        font-size: 12px;
        padding: 5px 10px;
        height: 40px;
    }
}



.totaltable {
    th, td{
        border-top:none!important;
        padding: 10px 15px!important; 
        font-size: 12px;
        border-bottom: 3px solid #FFF;
    }
    tr{
        background: #F5F6F8; 
        
    }
}